/* google fonts start*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700&display=swap');
/* google fonts start*/

/* site settings for css start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    background: url(../img/bg-img.png) repeat fixed 0 0 #ffffff;
    font-family: 'Roboto', sans-serif !important;
    position: relative;
}
/* site setting for css end */

/* feedback button part css start */
.feedback-btn{
    position: absolute;
    left: -30px;
    top: 20%;
    transform: rotate(-90deg);
    background: #46A049 !important;
    transition: all 0.3s ease !important;
    border: none !important;
    border-radius: 3px !important;

}

.feed-submit, .contact-submit{
    background: #46A049 !important;
    transition: all 0.3s ease !important;
    border: none !important;
    border-radius: 3px !important;
    font-size: 13px;
    text-transform: uppercase;
}

.feedback-btn:hover, .feed-submit:hover{
    background: #1E7821 !important;
}

.feedback-btn:focus, .feed-submit:focus{
    box-shadow: none !important;
}

.feed-input:focus{
    border: 1px solid #1E7821 !important;
    box-shadow: none !important;
}


/* feedback button part css end */

/* common css start */
a, a:hover{
    text-decoration: none;
    background: transparent !important;
    color: rgb(19, 19, 19);
    padding: 0;
    margin: 0;
    outline: 0;
}

h1{
    color: rgb(19, 19, 19);
    padding: 0;
    margin: 0;
    outline: 0;
}

h2{
    color: rgb(19, 19, 19);
    padding: 0;
    margin: 0;
    outline: 0;
}

h3{
    color: rgb(19, 19, 19);
    padding: 0;
    margin: 0;
    outline: 0;
}

h4{
    color: rgb(19, 19, 19);
    padding: 0;
    margin: 0;
    outline: 0;
}

h5{
    color: rgb(19, 19, 19);
    padding: 0;
    margin: 0;
    outline: 0;
}
p{
    color: rgb(19, 19, 19);
    padding: 0;
    margin: 0;
    outline: 0;
}

ul, ol, li{
    padding: 0;
    margin: 0;
    outline: 0;
}

.top_bar{
    width: 100%;
    height: 5px;
    background: red;
}

.site_main_bar{
    width: 100%;
}

.custom-bgT{
    background: transparent !important;
}

.custom-bg1{
    background: #46A049 !important;
}

.custom-bg2{
    background: #1E7821 !important;
}

.site-btn1{
    font-size: 12px;
    text-transform:  uppercase;
    text-align: center;
    background: #46A049 !important;
    border: 1px solid #1E7821;
    border-radius: 50px;
    display: block;
    margin: 15px 10px;
    padding: 7px 10px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1.8px;
    transition: all 0.3s ease;
}

.site-btn1:hover{
    font-size: 12px;
    text-transform:  uppercase;
    text-align: center;
    background: #1E7821 !important;
    border: 1px solid #1E7821;
    border-radius: 50px;
    display: block;
    margin: 15px 10px;
    padding: 7px 10px;
    font-weight: 600;
    color: #ffffff;
}

.site-clr{
    clear: both;
}
/* common css end */

/* header part css start */
.top_header{
    width: 100%;
}
.header_content{
    width: 100%;
    display: flex;
}

.left_side{
    width: 60%;
}

/* site logo part */
.left_side .logo{
    width: 80%;
    box-sizing: border-box;
}

.right_side{
    width: 40%;
}

/* top menu part */
.right_side .top_menu{
    width: 100%;
    margin: 20px 0;
}

.right_side .top_menu ul{
    list-style: none;
    display: flex;
}

.right_side .top_menu ul li{
    margin-left: auto;
}

.right_side .top_menu ul li a{
    font-size: 12px;
    color:#000000;
    transition: all 0.3s ease;
}

.right_side .top_menu ul li a:hover{
    color: #ffffff;
}

/* search box part */
.right_side .search_box{
    width: 100%;
    margin: 25px 0 0 0;
}

.right_side .search_box .custom-src-box{
    color: white;
    border-right: none !important;
    background: #46A049 !important;
    border: 1.8px solid #1E7821;
    width: 430px;
}

.right_side .search_box .custom-src-box:focus{
    box-shadow: none !important;
}

.right_side .search_box .search-btn{
    background: #46A049 !important;
    border-left: 0;
    border-radius: 3px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border: 1.8px solid #1E7821;
    color: white;
}

.right_side .search_box .search-btn:focus{
    box-shadow: none !important;
}
/* header part css end */

/* main menu part css start */
#main-nav ul li .menu-link{
    font-weight: 500;
    color: #ffffff;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
    margin: 0 3px;
    text-transform: uppercase;
    letter-spacing: 0.3;
}

#main-nav ul li .menu-link:hover{
    padding: .5rem 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-bottom: 3px solid #46A049;
}

#main-nav ul li .dropdown-menu .dmenu-link{
    font-weight: 500;
    color: #ffffff;
    transition: all 0.3s ease;
    padding:  8px;
    text-transform: uppercase;
    letter-spacing: 0.3;
}

#main-nav ul li .dropdown-menu .dmenu-link:hover{
    font-weight: 500;
    color: #ffffff;
    transition: all 0.3s ease;
    background-color: #46A049 !important;
}

#main-nav ul li .dropdown-menu .dmenu-link{
    font-size: 12px !important;
}
/* main menu part css end */

/* Notice headline part css start */
.notice-headline{
    width: 100%;
    display: flex;
    border: 2px solid #1E7821;
    margin: 5px 0;
    margin-bottom: 0;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}

.notice-headline .n-level{
    width: 7%;
}

.notice-headline .n-level p{
    background: #1E7821 !important;
    padding: 8px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.notice-headline .n-headline{
    width: 93%;
}

#ticker_container{
    padding: 8px;
    background: #46A049 !important;
    border: none !important;
    border-radius: 0 !important;
}
/* Notice headline part css end */

/* wesite content part css start */
.web-content{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

/* main content part css start */
.main-body{
    width: 72%;
    box-sizing: border-box;
    overflow: hidden;
    background: #f9f9f9 !important;
    margin-right: 8px;
    -webkit-box-shadow: 0px 0px 9px 0px #777777; 
    box-shadow: 0px 0px 9px 0px #777777;
    border: 1px solid #868686;
    border-top: none;
    border-bottom: none;
}

.main-content{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 7px;
}

/* slider part css start */
.site-slider{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.site-slider .slider-img{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.slick-dots {
	bottom: 10px;
}

.slick-dots li button{
    border: 2px solid #1E7821;
    border-radius: 50%;
    background-color: #dddddd;
}

.slick-dots li button::before {
    font-size: 30px;
    color:  transparent;
    opacity: 1;
}

.slick-dots li.slick-active button::before {
    color: #1E7821;
    opacity: 1;
}
/* slider part css end */

/* site event part css start */
.site-event{
    width: 100%;
    height: 161px;
    overflow: hidden;
    display: flex;
    border: 1px solid #1E7821;
    margin: 0 0 30px;
}

.site-event .event-logo{
    width: 30%;
}

.site-event .event-countdown{
    width: 70%;
    background: #ffffff !important;
    box-sizing: border-box;
    padding: 0 20px;
}

.site-event .event-countdown .coustom-coutdown{
    margin: 20px 0;
}
/* site event part css end */

/* highlight content part css start */
.highlight-content{
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}

.highlight-content .h-notice-part{
    width: 25%;
    box-sizing: border-box;
}

.highlight-content .h-notice-part .h-notice-part-content{
    padding: 5px;
    border: 1px solid #1E7821;
    margin-right: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.highlight-content .h-class-routine{
    width: 25%;
    box-sizing: border-box;
}

.highlight-content .h-class-routine .h-class-routine-content{
    padding: 5px;
    border: 1px solid #1E7821;
    margin-right: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.highlight-content .h-student-attendence{
    width: 25%;
    box-sizing: border-box;
}

.highlight-content .h-student-attendence .h-student-attendence-content{
    padding: 5px;
    border: 1px solid #1E7821;
    margin-right: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.highlight-content .h-gallery-part{
    width: 25%;
    box-sizing: border-box;
}

.highlight-content .h-gallery-part .h-gallery-part-content{
    padding: 5px;
    border: 1px solid #1E7821;
    overflow: hidden;
    transition: all 0.3s ease;
}

.highlight-content  .highlight-content-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #1E7821;
    margin: 10px auto;
    box-sizing: border-box;
    overflow: hidden;
    background: #46A049;
    transition: all 0.3s ease;
}

.highlight-content  .highlight-content-icon i{
    border-radius: 50%;
    font-size: 30px;
    line-height: 1.1;
    padding: 15px;
    color: #ffffff;
}

.highlight-content p{
    text-align: center;
    font-weight: 500;
    color: #1E7821;
    font-size: 18px;
    letter-spacing: 1.5;
}

.highlight-content a{
    display: block;
    margin: 5px auto;
    font-size: 12px;
    padding: 5px 7px;
    background: #46A049 !important;
    border-radius: 2px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.highlight-content a:hover{
    background:#1E7821 !important;
}

.highlight-content .h-notice-part .h-notice-part-content:hover > .highlight-content-icon, .highlight-content .h-class-routine .h-class-routine-content:hover > .highlight-content-icon, .highlight-content .h-student-attendence .h-student-attendence-content:hover > .highlight-content-icon, .highlight-content .h-gallery-part .h-gallery-part-content:hover > .highlight-content-icon{
    background: transparent;
}

.highlight-content .h-notice-part .h-notice-part-content:hover > .highlight-content-icon i, .highlight-content .h-class-routine .h-class-routine-content:hover > .highlight-content-icon i, .highlight-content .h-student-attendence .h-student-attendence-content:hover > .highlight-content-icon i, .highlight-content .h-gallery-part .h-gallery-part-content:hover > .highlight-content-icon i{
    color: #1E7821;
}
/* highlight content part css end */

/* home page content part css start */
.home-content .our-history{
    margin-bottom: 38px;
}

.home-content .chairman-message{
    margin-bottom: 38px;
}

.home-content .principal-message{
    margin-bottom: 38px;
}

.home-content h2{
    padding: 7px;
    background: #46A049 !important;
    border-bottom: 2px solid #1E7821;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.2px;
}

.home-content .home-img{
    width: 300px;
    float: left;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #1E7821;
    margin-top: 20px;
    margin-right: 10px;
}

.home-content p{
    color: #000000;
    font-size: 14px;
    text-align: justify;
    margin-top: 15px;
}
/* home page content part css end */

/* sidebar content part css start */
.sidebar-body{
    width: 28%;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
    background: #f9f9f9 !important;
    margin-left: 8px;
    -webkit-box-shadow: 0px 0px 9px 0px #777777; 
    box-shadow: 0px 0px 9px 0px #777777;
    border: 1px solid #868686;
    border-top: none;
    border-bottom: none;
}

.sidebar-content{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 7px;
}

.sidebar-content .sidebar-heading{
    background: transparent !important;
    margin-bottom: 40px;
}

.sidebar-content .sidebar-heading p{
    padding: 7px;
    background: #46A049 !important;
    border-bottom: 2px solid #1E7821;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.2px;
}

.sidebar-content .sidebar-heading ul li{
    display: block;
    margin: 20px 0;
    box-sizing: border-box;
}

.sidebar-content .sidebar-heading ul li .notice-level{
    margin-right: 8px;
    padding: 5px 8px;
    box-sizing: border-box;
    background: #46A049;
    border: 1px solid #1E7821;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
}

.sidebar-content .sidebar-heading ul li .link-aicon{
    color: #1E7821;
    font-size: 16px;
    margin-right: 8px;
}

.sidebar-content .sidebar-heading ul li a{
    font-weight: 400;
    font-size: 16px;
    padding: 5px 7px;
    line-height: 2;
    border-bottom: 1px dotted #1E7821 !important;
    transition: all 0.3s ease;
}

.sidebar-content .sidebar-heading ul li a:hover{
    background: #e9e9e9 !important; 
}

.sidebar-content .sidebar-heading ul li:last-child a{
    border-bottom: 0px dotted #1E7821;
}

.sidebar-content .sidebar-heading ul .i-links a{
    line-height: 0;
    border: none !important;
}
/* calender part css start */
.nao-month td.today{
    box-shadow: 0 0 0 2px #46A049 inset;
}

.nao-month td.active{
    box-shadow: 0 0 0 2px #1E7821 inset;
}

.calendar-1{
    margin-top: 20px;
}
/* calender part css end */

/* dev atkhssn part css start */
.dev-atkhssn{
    width: 100%;
    display: flex;
}

.dev-atkhssn .ads{
    width: 65%;
}

.dev-atkhssn .visitor-count{
    width: 35%;
    margin-top: -30px;
}

.dev-atkhssn .ads p{
    display: block;
    margin: 0;
    outline: 0;
    font-size: 10px;
    color: #777777;
    text-align: right;
}
/* dev atkhssn part css end */
/* sidebar content part css end */
/* main content part css end */
/* wesite content part css end */

/* footer part css start */
.site-footer{
    width: 100%;
    background: url(../img/footer-img.png) repeat fixed 0 0 #000000;
    color : #ffffff;
}

.footer-content{
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.footer-content .footer-left{
    width: 33.33%;
    box-sizing: border-box;
    margin: 30px 0;
}

.footer-content .footer-left  h2{
    color: #1E7821;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-content .footer-left p{
    color: #ffffff;
    text-align: left;
    font-size: 12px;
}

.footer-content .footer-middle{
    width: 33.33%;
    box-sizing: border-box;
    margin: 30px 0;
}

.footer-content .footer-middle .footer-logo{
    width: 120px;
    height: 120px;
    margin: 15px auto;
}

.footer-content .footer-middle p{
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}

.footer-content .footer-middle p a{
    color:  #ffffff;
    transition: all 0.3s ease;
}

.footer-content .footer-middle p a:hover{
    text-decoration: underline;
}

.footer-content .footer-right{
    width: 33.33%;
    box-sizing: border-box;
    margin: 30px 0;
}

.footer-content .footer-right p{
    text-align: right;
}

.footer-content .footer-right p span{
    color: #1E7821;
}

.footer-content .footer-right p a{
    color: #ffffff;
    font-size: 12px;
    margin-right: 5px;
    transition: all 0.3s ease;
}

.footer-content .footer-right p a:hover{
    color: #46A049;
    margin-right: 8px;
}
/* footer part css end */

/* page header part css start */
#page-header{
    padding: 0;
    margin: 0;
    outline: 0;
    width: 100%;
    background: url(../img/headerbg.png) repeat fixed 0 0 #000;
    border-bottom: 1px solid #c7c7c7;
}

.page-title{
    padding: 50px 0;
    text-align: center;
}

.page-title h2{
    color: #1E7821;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.page-title p{
    color: #111111;
}

.page-title a.page-active{
    color: #1E7821;
    transition: all 0.3s ease;
}

.page-title a.page-active:hover{
    color: #46A049;
}
/* page header part css end */


/* contact page main body content part start */
.our-address, .contact-form, .google-map{
    margin-bottom: 50px;
}

.our-address .site-heading, .contact-form .site-heading, .google-map .site-heading{
    margin-bottom: 15px;
}

.our-address .our-logo{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.our-address .our-logo img{
    border: none !important;
    width: 100%;
    float: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

.our-address .our-logo small{
    font-size: 9px;
    color: #777777;
    margin: 0;
    margin-top: -20px;
    padding: 0;
    outline: 0;
    display: block;
}

.our-address .contact-address{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin-top: 20px;
}

.our-address .contact-address .ad-part-1, .our-address .contact-address .ad-part-2{
    width: 33%;
    padding: 10px;
}

.our-address .contact-address .ad-part-3{
    width: 34%;
    padding: 10px;
}

.our-address .contact-address .ad-part-1 p, .our-address .contact-address .ad-part-2 p, .our-address .contact-address .ad-part-3 p{
    line-height: 2;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 14px;
}

.our-address .contact-address .ad-part-1 p span, .our-address .contact-address .ad-part-2 p span, .our-address .contact-address .ad-part-3 p span{
    font-weight: 500;
    color: #1E7821;
}

.contact-form form label{
    margin-top: .65rem;
}

.contact-form form .contact-submit{
    margin-top: 15px;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    background: #46A049;
    transition: all 0.3s ease;
}

.contact-form form .contact-submit:hover{
    background: #1E7821 !important;
}

.contact-form form .contact-submit:focus{
    box-shadow: none;
}

.contact-form form{
    padding: 15px;
}

.google-map iframe{
    border: 2px solid #1E7821;
}
/* contact page main body content part end */

/* career part css start */
.career-part .career-content{
    width: 100%;
    display: flex;
}

.career-part .career-content .career-left{
    width: 40%;
    box-sizing: border-box;
    margin-right: 8px;
}

.career-part .career-content .career-right{
    width: 60%;
    box-sizing: border-box;
    margin-left: 8px;
}

.career-part .career-content .career-left img{
    padding: 0;
    margin: 70px 0;
    outline: 0;
    float: none;
    border: none;
    width: 100%;
    background: transparent;
}

.career-part .career-content .career-right p{
    padding: 0;
    margin: 15px 0;
    outline: 0;
}

.career-form form{
    padding: 15px;
}

.career-form label{
    margin-top: .65rem;
}

.career-form .career-submit {
	background: #46A049;
	transition: all 0.3s ease;
	margin-top: 24.5px;
	border: none;
	border-radius: 3px;
	font-size: 13px;
	text-transform: uppercase;
	padding: 7.5px 15px;
}

.career-form .career-submit:hover{
    background: #1E7821;
}

.career-form .career-submit:focus{
    box-shadow: none;
}

.career-form form .custom-file{
    margin-top: 13px;
}

.career-form form .custom-file small{
    margin-top: 15px;
    display: block;
    font-size: 9px;
    color: #868686;
}

.career-form form .custom-file input[type = 'file']{
    cursor: pointer;
}

.career-form form .custom-file input[type = 'file']:focus ~ .custom-file-label {
	border-color: #1E7821;
    box-shadow: none;
}
/* career part css end */

/* gallery part css start */
.gallery-content{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery-content .gallery-thumb{
    box-sizing: border-box !important;
    overflow: hidden !important;
    margin: 0 !important;
    width: 100% !important;
}

.gallery-content .gallery-thumb .gallery-img {
    width: 32.03% !important;
    min-width: 247px !important;
	float: left !important;
	background: transparent !important;
	padding: 3px !important;
	border: 1px solid #1E7821 !important;
    margin: 30px 5px !important;
    margin-bottom: 0 !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    position: relative;
}

.gallery-content .gallery-thumb .gallery-img .gallery-img-content{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 170px;
}

.gallery-content .gallery-thumb .gallery-img .gallery-img-content .gallery-thumb-overly{
    width: 100%;
    height: 100%;
    background: rgba(30, 120, 33, .6);
    transition: all 0.3s ease;
    transform: scale(0);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.gallery-content .gallery-thumb .gallery-img .gallery-img-content:hover .gallery-thumb-overly{
    transform: scale(1);
}

.gallery-content .gallery-thumb .gallery-img .gallery-img-content .gallery-thumb-overly h3{
    color: #ffffff;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #ffffff;
}

.gallery-content .gallery-thumb .gallery-img .gallery-img-content .gallery-thumb-overly a{
    color: #ffffff;
    padding: 7px 10px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin: 40px 0;
    transition: all 0.3s ease;
}

.gallery-content .gallery-thumb .gallery-img .gallery-img-content .gallery-thumb-overly a:hover{
    background: #1E7821 !important;
    border-color: #1E7821;
}

.easyPaginateNav{
    display: block;
    margin: 50px auto;
    width: 367px !important;
}

.easyPaginateNav a{
    padding: 10px 15px;
    border: 1px solid #1E7821;
    background: #46A049 !important;
    transition: all 0.3s ease;
    border-left-color: #1E5100 !important;
    border-right-color: #1E5100 !important;
}

.easyPaginateNav a:first-child{
    border-left: 1px solid #1E7821 !important;
}

.easyPaginateNav a:last-child{
    border-right: 1px solid #1E7821 !important;
}

.easyPaginateNav a:hover{
    background: #1E7821 !important;
    color: #ffffff !important;
}

.easyPaginateNav a.current {
    background: #1E7821 !important;
    color: #ffffff !important;
}
/* gallery part css end */

/* result part css start */
.result-search{
    margin-bottom: 30px;
}

.result-search .result-container{
    width: 100%;
    display: flex;
    margin-top: 30px;
    text-align: center;
}

.result-search .result-container .board-result, .result-search .result-container .class-result{
    width: 50%;
    border: 1px solid #1E7821;
    margin-right: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.result-search .result-container .class-result{
    margin-right: 0;
    margin-left: 5px;
}

.result-search .result-container .board-result .result-icon i, .result-search .result-container .class-result .result-icon i{
    font-size: 32px;
    padding: 20px;
    border-radius: 50%;
    background: #46A049;
    border: 2px solid #1E7821;
    color: #ffffff;
    transition: all 0.3s ease;
}

.result-search .result-container .board-result:hover .result-icon i, .result-search .result-container .class-result:hover .result-icon i{
    background: #ffffff;
    color: #1E7821;
}

.result-search .result-container .board-result h3, .result-search .result-container .class-result h3{
    margin: 12px 0;
    font-size: 18px;
    color: #1E7821;
    text-transform: uppercase;
}

.result-search .result-container .board-result a, .result-search .result-container .class-result a{
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background: #46A049 !important;
    padding: 7px 10px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 1.2px;
    transition: all 0.3s ease;
}

.result-search .result-container .board-result a:hover, .result-search .result-container .class-result a:hover{
    background: #1E7821 !important;
}

.result-stat-container h3, .result-datasheet h3{
    text-align: center;
    margin-top: 30px;
    color: #1E7821;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.result-stat-container .result-graph{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 30px 0;
}

.result-stat-container .result-graph h5, .result-datasheet h5{
    color: #1E7821;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    margin: 5px 0;
}

.result-stat-container .result-graph .jsc-graph{
    width: 33.25%;
    border: 1px solid #1E7821;
    box-sizing: border-box;
    padding: 5px;
}

.result-stat-container .result-graph .ssc-graph{
    width: 33.50%;
    border: 1px solid #1E7821;
    box-sizing: border-box;
    margin: 0 5px;
    padding: 5px;
}

.result-stat-container .result-graph .hsc-graph{
    width: 33.25%;
    border: 1px solid #1E7821;
    box-sizing: border-box;
    padding: 5px;
}

.result-datasheet{
    margin-top: 50px;
}

.result-datasheet .jsc-datasheet, .result-datasheet .ssc-datasheet, .result-datasheet .hsc-datasheet{
    margin-top: 30px;
    border: 1px solid #1E7821;
}
/* result part css end */

/* board result search part css start */
.board-result-search iframe{
    margin-top: 30px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.board-result-search p{
    text-align: right;
    font-size: 9px;
    margin: 0;
    padding: 0;
    outline: 0;
    color: #777777;
}

.board-result-search p a{
    color: #1E7821;
}
/* board result search part css end */

/* class result search part css start */
.class-result-search .search-result-container{
    width: 100%;
    margin-top: 30px;
    background: #EEEEEE;
    border: 1px solid #dddddd !important;
    border-radius: 3px;
    box-sizing: border-box;
}

.class-result-search .search-result-container .search-result-panel{
    width: 450px;
    margin: 70px auto;
    padding: 10px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #f9f9f9;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(221,221,221,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(221,221,221,1);
    box-shadow: 0px 0px 5px 1px rgba(221,221,221,1);
}

.class-result-search .search-result-container .search-result-panel .search-result-logo{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding: 2px;
    border: 2px solid #1E7821;
    border-radius: 50%;
}

.class-result-search .search-result-container .search-result-panel .search-result-form{
    margin: 30px 5px;
}

.class-result-search .search-result-container .search-result-panel .search-result-form label{
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #111111;
    letter-spacing: 1.1px;
}

.class-result-search .search-result-container .search-result-panel .search-result-form select,
.class-result-search .search-result-container .search-result-panel .search-result-form input{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #111111;
}

.class-result-search .search-result-container .search-result-panel .search-result-form .search-result-btn{
    display: inline-block !important;
    margin-top: 20px !important;
    background: #1E7821 !important;
    border: none !important;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 400;
}

.class-result-search .search-result-container .search-result-panel .search-result-form .search-result-btn:focus{
    box-shadow: none !important;
}

.class-result-search .search-result-container p{
    font-size: 9px;
    color: #777777;
    text-align: center;
    margin-bottom: 60px;
}

.class-result-search .search-result-container p a{
    color: #1E7821;
}
/* class result search part css end */